.view {
  width: 100%;
  height: 100%;
}

.view-wrap {
  width: 70%;
  height: 100%;
  float: left;
}

#url {
  input {
    width: 500px;
  }
  position: absolute;
}

.chat {
  background: none repeat scroll 0 0 rgba(0, 50, 114, 0.92);
  border-radius: 13px;
  bottom: 1%;
  color: #FFFFFF;
  right: 1%;
  padding: 1%;
  position: absolute;

  .names {
    background: none repeat scroll 0 0 rgba(255, 0, 0, 0.92);
    border-radius: 13px;
    float: right;
    height: 100%;
    padding: 1%;
    div {
      white-space: nowrap;
    }
  }
}

ul, li {
  padding: 0;
  margin: 0;
}

#slides {
  width: 20%;
  float: left;

  ul {
    width: 300px;
    float: left;
    height: 60%;
    overflow-y: auto;
    li {
      list-style-type: none;
      padding: 5px;
      background: lightblue;
      margin-bottom: 2px;
      border: 1px solid grey;
      cursor: pointer;

      &.active, &:hover {
        background: lighten(lightblue, 10);
      }

      span {
        float: right;
      }
    }
  }
}

#view {
  float: right;
  width: 100%;
  height: 100%;
  border: 1px solid blue;

  iframe {
    width: 100%;
    height: 100%;
    overflow: auto;
  }
}

.clear {
  clear: both;
}

#bits {
  li {
    float: left;
    width: 50px;
    height: 50px;
    background: black;
    border: 1px solid white;
    list-style-type: none;

    &.lit {
      background: red;
    }
  }
}